.mainmenuwrapper {
  background: url(http://fc05.deviantart.net/fs30/f/2008/060/b/c/Giratina_deep_in_black_by_Zeldemon.jpg)  no-repeat #161616;
  background-size: 100% 100%;
  }
.userlist{
	background: #eee;  
}
.menugroup .button:hover {
    background: none repeat scroll 0% 0% #6E6E6E;
    opacity: 1.0;
}
.menugroup .button:hover {
    background-color:  #6E6E6E;

solid;
    border-color: #6E6E6E;
}
.menugroup .button {
    opacity: 1.0;
    font-size: 12pt;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    display: inline-block;
    padding: 1px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 170, 170);
    background: none repeat scroll 0% 0% #A4A4A4;
}
.userbar{
  top: 20px;
  width: 212px;
 }
.siderooms{
background: #161616;
      height: 56px;
    }
.maintabbarbottom {
background: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 
100%);
border: none;
  box-shadow: none;
  z-index:2;
}

.header {
height: 56px;
  background: #161616;
}

.header .logo {
float: left;
margin: 7px 0px 0 2px;
}

.tabbar a.button.notifying {
background: #3498db;
}

.maintabbar .inner {
  	padding-top:0px;
    height: 56px;
    background: #161616;
}
    
.tabbar.maintabbar {
margin-left: 170px;
margin-right: 0px;
overflow: hidden;
  height: 60px;
  background-position: right;
  background-repeat: no-repeat;
}

.tabbar a.button.cur, .tabbar a.button.cur:hover, .tabbar a.button{
color: #ecf0f1;
background: #333333;
box-shadow: none;
  border: none;
cursor: default;
top: 0px;
  border-radius: 5px;
text-shadow: none;
  margin-left: 5px;
  margin-top:15px;
}

.tabbar a.button:hover, .tabbar a.button.cur{
  	background: #090909;
    }

.tabbar a.button {
cursor: pointer;
text-align: center;
white-space: nowrap;
text-shadow: none;
font-size: 11px;
}


.ps-popup {
    position: absolute;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    text-align: left;
    padding: 2px 10px;
    z-index: 20;
	border: 1px solid #181818;
  	border-radius: 2px;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.2);
  	background: #e8e8e8;
}
body{
	background-color: #eee;
}
.tabbar a.button.notifying {
background: #3498db;
}

.maintabbar .inner {
  	padding-top:0px;
    height: 56px;
    background: #161616;
}
    
.tabbar.maintabbar {
margin-left: 170px;
margin-right: 0px;
overflow: hidden;
  height: 60px;
  background-position: right;
  background-repeat: no-repeat;
}

.tabbar a.button.cur, .tabbar a.button.cur:hover, .tabbar a.button{
color: #ecf0f1;
background: #333333;
box-shadow: none;
  border: none;
cursor: default;
top: 0px;
  border-radius: 5px;
text-shadow: none;
  margin-left: 5px;
  margin-top:15px;
}

.tabbar a.button:hover, .tabbar a.button.cur{
  	background: #090909;
    }

.tabbar a.button {
cursor: pointer;
text-align: center;
white-space: nowrap;
text-shadow: none;
font-size: 11px;
}
.chat-log {
    font-size: 10pt;
    background: url("http://i44.tinypic.com/esq1w1.png") no-repeat scroll right bottom;
    color: #000;
    overflow: auto;
}
